@import (reference) "../../pages/main.less";

nav {
  @media @for-phone-up {
    display: flex;
    justify-content: center;
  }
}

.main-navigation {
    @media @for-phone {
        position: absolute;
        width: 320px;
        height: 590px;
        box-shadow: 0 0 10px #85888C;
        margin: -50px 0 0 -50px;
        padding: 50px;
        padding-top: 85px;
        background-color: #F5F6FA;
        -webkit-font-smoothing: antialiased;
        left: -290px;
        transition: left 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        text-align: center;
    }
    font-family: 'Raleway', Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    max-width: 1200px;
}

.activeBurg ~ .main-navigation {
    left:  0; 
}

.main-navigation li {
    @media @for-phone {
        display: block;
        margin: 0;
        padding: 20px 0 20px 2.5em;
    }
  display: inline-block;
  list-style: outside none none;
  margin: 0.7em 1.5em;
  padding: 0;
}
.main-navigation a {
  padding: 0.3em 0;
  color: #212121;
  position: relative;
  text-decoration: none;
}
.main-navigation a:after {
  height: 3px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #333;
  width: 0;
}

.main-navigation a:after {
  bottom: 0;
  left: 0;
}
.main-navigation a:hover,
.main-navigation a.current {
  color: #212121;
}
.main-navigation a:hover:after,
.main-navigation a.current:after {
  width: 100%;
}

.burgWrapper {
    @media @for-phone-up {
        display: none;
    }
    cursor: pointer;
    display: inline-block;
    padding: 20px 0 0 10px;
    position: relative;
    z-index: @exosphere;
  }
  
  .burg {
    display: block;
    height: 5px;
    width: 30px;
    background :black;
    position: relative;
    transition: all .2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    &:before {
      content: '';
      position: absolute;
      top:-10px;
      width:30px;
      height: 5px;
      background:#000;
      transition: all .2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    }
    &:after {
      content:'';
      position:absolute;
      top:10px;
      width:30px;
      height: 5px;
      background:#000;
      transition: all .2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    }
  }
  
  .activeBurg {
      .burg {
        background:transparent;
        &:before {
          -webkit-transform:rotate(45deg);
          transform : rotate(45deg);
          top:0;
        }
        &:after {
          -webkit-transform:rotate(-45deg);
          transform: rotate(-45deg);
          top:0;
        }
      }
  }
