.page-wrapper {
  position: relative;

  &::after {
    content: "";
    animation: 2s 0s background-fade-in ease-out both;
    visibility: visible;
    background: url('/flowers1-green-cropped.png');
    background-position: top right;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
  }
}