@import (reference) "../../pages/main.less";

.page-wrapper {
  background: url('/paper.png');
  min-height: 100vh;
  position: relative;

  &::before {
    content: "";
    animation: 2s 0s background-fade-in ease-out both;
    visibility: visible;
    background: url('/flowers1-green-cropped.png');
    background-position-x: right;
    background-position-y: 75px;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
  }
}
