@media screen and (max-width: 44.9375rem) {
  .main-navigation.desktop {
    display: none;
  }
}
@media screen and (min-width: 44.9375rem) {
  .main-navigation.mobile {
    display: none;
  }
}
.main-navigation.mobile a:before {
  display: none;
}
.main-navigation {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}
@media screen and (max-width: 44.9375rem) {
  .main-navigation {
    position: absolute;
    width: 180px;
    height: 400px;
    box-shadow: 0 0 10px #85888C;
    margin: -50px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: #F5F6FA;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
}
.activeBurg ~ .main-navigation {
  transform: none;
}
.main-navigation * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.main-navigation li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.7em 1.5em;
  padding: 0;
}
@media screen and (max-width: 44.9375rem) {
  .main-navigation li {
    padding: 10px 0;
    transition-delay: 2s;
  }
}
.main-navigation a {
  padding: 0.3em 0;
  color: #212121;
  position: relative;
  text-decoration: none;
}
.main-navigation a:before,
.main-navigation a:after {
  height: 3px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #2980b9;
  width: 0;
}
.main-navigation a:before {
  top: 0;
  right: 0;
}
.main-navigation a:after {
  bottom: 0;
  left: 0;
}
.main-navigation a:hover,
.main-navigation a.current {
  color: #212121;
}
.main-navigation a:hover:before,
.main-navigation a.current:before,
.main-navigation a:hover:after,
.main-navigation a.current:after {
  width: 100%;
}
.header {
  margin-bottom: 25px;
  padding: 0 25px;
  text-align: center;
}
.header__inner-container {
  border-bottom: 2px solid black;
  padding: 15px 0;
}
.header__nav-item {
  color: black;
  text-decoration: none;
}
.header__nav-item:not(:first-of-type) {
  padding-left: 50px;
}
.burgWrapper {
  cursor: pointer;
  display: inline-block;
  padding: 20px 0;
  position: relative;
  z-index: 100;
}
@media screen and (min-width: 44.9375rem) {
  .burgWrapper {
    display: none;
  }
}
.burg {
  display: block;
  height: 5px;
  width: 30px;
  background: black;
  position: relative;
  transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.burg:before {
  content: '';
  position: absolute;
  top: -10px;
  width: 30px;
  height: 5px;
  background: #000;
  transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.burg:after {
  content: '';
  position: absolute;
  top: 10px;
  width: 30px;
  height: 5px;
  background: #000;
  transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.activeBurg .burg {
  background: transparent;
}
.activeBurg .burg:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
}
.activeBurg .burg:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
}


main {
  text-align: center;
}


/*# sourceMappingURL=styles.chunk.css.map*/