@for-phone: ~"screen and (max-width: 44.9375rem)"; // < 720
@for-phone-up: ~"screen and (min-width: 44.9375rem)"; // > 720
@for-desktop-up: ~"screen and (min-width: 75rem)"; // > 1200
@for-big-desktop-up: ~"screen and (min-width: 112.5rem)"; // > 1800

@inner-core: 0;
@outer-core: 5;
@mantle: 10;
@upper-mantle: 15;
@crust: 20;
@troposhere: 25;
@stratosphere: 30;
@mesosphere: 35;
@thermosphere: 40;
@exosphere: 100;
